.container {
  padding: 3em 1em;
  max-width: 1920px;
  margin: 0 auto;
}

.container h3 {
  font-size: 2em;
  margin-bottom: 20px;
}

.treatmentContainer {
  border-top: 1px solid rgba(190, 195, 203, 0.2);
  padding: 1.5em 0;
}

.treatmentContainer p {
  font-size: 0.8em;
}

.treatmentContainer .price {
  font-weight: 900;
}

.priceAndDurationContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.priceAndDurationContainer p {
  font-size: 0.8em;
}

.treatmentContainer h5 {
  font-size: 1.3em;
  font-weight: 500;
}

.priceAndDurationContainer p {
  margin: 0;
}

@media only screen and (min-width: 330px) {
  .container h3 {
    font-size: 2.4em;
  }
}

@media only screen and (min-width: 550px) {
  .container {
    padding: 3em 2em;
  }

  .priceAndDurationContainer p,
  .treatmentContainer p {
    font-size: 1.2em;
  }

  .titleAndDescriptionContainer p {
    margin: 20px 0;
  }

  .treatmentContainer h5 {
    font-size: 1.6em;
  }

  .treatmentContainer {
    padding: 2em 0;
  }
}

@media only screen and (min-width: 768px) {
  .treatmentContainer {
    display: flex;
  }

  .priceAndDurationContainer {
    display: flex;
    flex-direction: column;
    width: 30%;
    height: 100%;
    justify-content: center;
    align-items: flex-end;
  }

  .titleAndDescriptionContainer {
    width: 65%;
  }
}

@media only screen and (min-width: 900px) {
  .container h3 {
    font-size: 3.6em;
    margin-bottom: 30px;
  }

  .priceAndDurationContainer p,
  .treatmentContainer p {
    font-size: 1.4em;
  }

  .treatmentContainer h5 {
    font-size: 1.8em;
  }

  .titleAndDescriptionContainer p {
    margin: 30px 0;
  }

  .treatmentContainer {
    padding: 2.3em 0;
  }
}

@media only screen and (min-width: 1200px) {
  .container {
    padding: 4em 12em;
  }
}

@media only screen and (min-width: 1400px) {
  .container {
    padding: 4em 8em;
  }
}

@media only screen and (min-width: 1920px) {
  .container {
    padding: 7em 10em 3em 10em;
  }

  .container h3 {
    margin-bottom: 40px;
  }
  .treatmentContainer {
    padding: 1.5em 0;
  }
}
